<mat-toolbar>
  <div class="header-toolbar-container">
    <div class="left-side-container">
      <span>My App</span>

      <span class="example-spacer"></span>
    </div>

    <div class="right-side-container">
      <button mat-mini-fab color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<div class="main-body-container">
  <div class="left-side-panel">
    <button class="left-side-panel-button" mat-mini-fab color="primary">
      <mat-icon>home</mat-icon>
    </button>
  </div>

  <div class="body-container">
    <router-outlet></router-outlet>
  </div>
</div>
