// Colors
$background-light-grey: #f5f5f5;
$background-violet-blue: #454e9e;
$background-jet: #2a2b2a;
$background-copper-rose: #a26769;
$background-vivid-burgundy: #9e0031;

// Spacing
$standard-spacing: 20px;
